
body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url("../img/background.gif");
  cursor:  url("../img/cursor.cur") , default;

}
@font-face{
  font-family: "games";
  src: url('../font/Games-Italic.ttf');
  src: url('../font/Games.ttf');
}
a.jogar {
  color: blueviolet;
  text-decoration: none;
}
h1 {
  color: blueviolet;
  font-size: 90px;
  font-family: games;
}
h2 {
  color: blueviolet;
  font-size: 60px;
  font-family: monospace;
  cursor:  url("../img/pointer.cur") , pointer;
}
canvas {
  display: block;
}
button {
  background: transparent;
}

canvas {
  width: 90%;
  height: 90%;
}